@model IEnumerable<LeaveTypeVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success"  asp-action="Create"><i class="fa-solid fa-circle-plus"></i> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultDays)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultDays)
            </td>
            
            <td>
                <button data-id="@item.Id" class="btn btn-primary allocateBtn" type="button">Allocate</button>
                <a class="btn btn-warning"  asp-action="Edit" asp-route-id="@item.Id"><i class="fa-regular fa-pen-to-square"></i></a> |
                <a class="btn btn-info"  asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-info"></i></a> |
                <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button"><i class="fa-solid fa-trash-can"></i></button>
            </td>
        </tr>
}
    </tbody>
</table>

<form id="deleteForm" asp-action="Delete">
        <input type="hidden" id="leaveTypeId" name="Id" />
       
</form>


<form id="allocationForm" asp-action="AllocateLeave">
        <input type="hidden" id="leaveTypeId" name="Id" />
       
</form>

@section Scripts {
    <script>
        $(function(){
            $('.table').DataTable();
            $('.deleteBtn').click(function(e){
                swal({
                    title:"Are you sure?",
                    text: "Are you sure you want to delte this record?",
                    icon: "warning",
                    buttons: true, 
                    dangerMode: true
                }).then((confirm)=> {
                    if(confirm){
                       var btn =$(this);//get the button, whichever button triggered it
                       var id = btn.data("id");//gets the actual id value from the button; this is coming from "data-id="
                       $('#leaveTypeId').val(id);//the leaveTypeId is part of the form - we are assigning it as a variable with the value of the id
                       $('#deleteForm').submit();
                    }
                });
            });
            $('.allocateBtn').click(function(e){
                swal({
                    title:"Are you sure?",
                    text: "Are you sure you want to allocate this leave to all employees?",
                    icon: "warning",
                    buttons: true, 
                    dangerMode: true
                }).then((confirm)=> {
                    if(confirm){
                       var btn =$(this);//get the button, whichever button triggered it
                       var id = btn.data("id");//gets the actual id value from the button; this is coming from "data-id="
                       $('#leaveTypeId').val(id);//the leaveTypeId is part of the form - we are assigning it as a variable with the value of the id
                       $('#allocationForm').submit();
                    }
                });
            });



        });

    </script>
}