@model LeaveManagement.Web.Models.EmployeeAllocationVM

@{
    ViewData["Title"] = "ViewAllocations";
}

<h1>View Allocations for @Model.FirstName @Model.LastName</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateJoined)
        </dd>
        
    </dl>
</div>
<hr/>

<div class="card">
  <div class="card-header">
    <h4>Leave Allocations</h4>
  </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item">
          <div class="row">
              <div class="col">Leave Name</div>
              <div class="col">Original allocation</div>
              <div class="col">Current allocation</div>
              <div class="col">Action</div>
          </div>

      </li>
   @foreach(var allocation in Model.LeaveAllocations)
        {
            <li class="list-group-item">

                <div class="row">
                    <div class="col"><h6>@allocation.LeaveType.Name</h6></div>
                    <div class="col"> <span class="badge rounded-pill bg-primary"> Number of Days @allocation.NumberOfDays</span></div>
                    <div class="col"><span class="badge rounded-pill bg-success"> Remaining days @allocation.LeaveType.DefaultDays</span></div>
                    <div class="col"><a class="btn btn-warning" asp-action="EditAllocation" asp-route-id="@allocation.Id"><i class="fas fa-pencil-alt"></i>Edit Allocation</a></div>
                </div>

            </li>

        }
    </ul>
</div>

<div>
    
    <a asp-action="Index" class="btn btn-dark">Back to list</a> &nbsp;
</div>
