<!DOCTYPE html>
<html dir="ltr" lang="en">

@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager
  <head>
    
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LeaveManagement.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LeaveManagement.Web.styles.css" asp-append-version="true" />
      
      <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/apexcharts.css" asp-append-version="true" />
      
      
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    
    <meta name="keywords"
      content="leave management, .net6, .net core, entity framework, asp.net" />
    
    <meta name="description" content="project in .net6" />
    <meta name="robots" content="noindex,nofollow" />
    
   
   
    <!-- Custom CSS -->
    <link href="~/css/style.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- -------------------------------------------------------------- -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- -------------------------------------------------------------- -->
    <div class="preloader">
      <svg
        class="tea lds-ripple"
        width="37"
        height="48"
        viewbox="0 0 37 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M27.0819 17H3.02508C1.91076 17 1.01376 17.9059 1.0485 19.0197C1.15761 22.5177 1.49703 29.7374 2.5 34C4.07125 40.6778 7.18553 44.8868 8.44856 46.3845C8.79051 46.79 9.29799 47 9.82843 47H20.0218C20.639 47 21.2193 46.7159 21.5659 46.2052C22.6765 44.5687 25.2312 40.4282 27.5 34C28.9757 29.8188 29.084 22.4043 29.0441 18.9156C29.0319 17.8436 28.1539 17 27.0819 17Z"
          stroke="#2962FF"
          stroke-width="2"
        ></path>
        <path
          d="M29 23.5C29 23.5 34.5 20.5 35.5 25.4999C36.0986 28.4926 34.2033 31.5383 32 32.8713C29.4555 34.4108 28 34 28 34"
          stroke="#2962FF"
          stroke-width="2"
        ></path>
        <path
          id="teabag"
          fill="#2962FF"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M16 25V17H14V25H12C10.3431 25 9 26.3431 9 28V34C9 35.6569 10.3431 37 12 37H18C19.6569 37 21 35.6569 21 34V28C21 26.3431 19.6569 25 18 25H16ZM11 28C11 27.4477 11.4477 27 12 27H18C18.5523 27 19 27.4477 19 28V34C19 34.5523 18.5523 35 18 35H12C11.4477 35 11 34.5523 11 34V28Z"
        ></path>
        <path
          id="steamL"
          d="M17 1C17 1 17 4.5 14 6.5C11 8.5 11 12 11 12"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke="#2962FF"
        ></path>
        <path
          id="steamR"
          d="M21 6C21 6 21 8.22727 19 9.5C17 10.7727 17 13 17 13"
          stroke="#2962FF"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>
    </div>
    <!-- -------------------------------------------------------------- -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- -------------------------------------------------------------- -->
    <div id="main-wrapper">
      <!-- -------------------------------------------------------------- -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- -------------------------------------------------------------- -->
      <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
          <div class="navbar-header">
            <!-- This is for the sidebar toggle which is visible on mobile only -->
            <a
              class="nav-toggler waves-effect waves-light d-block d-md-none"
              href="javascript:void(0)"
            >
              <i class="ri-close-line fs-6 ri-menu-2-line"></i>
            </a>
            <!-- -------------------------------------------------------------- -->
            <!-- Logo -->
            <!-- -------------------------------------------------------------- -->
            <a class="navbar-brand" asp-page="/Home/Index">
              <!-- Logo icon -->
              <b class="logo-icon">
                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                <!-- Dark Logo icon -->
                <img src="~/images/flag.png" alt="homepage" class="dark-logo" />
                <!-- Light Logo icon -->
                <img
                  src="~/images/flag.png"
                  alt="homepage"
                  class="light-logo"
                />
              </b>
              <!--End Logo icon -->
             
              <span class="logo-text text-dark">
                
                LeaveManagement
              
              </span>
            </a>
            <!-- -------------------------------------------------------------- -->
            <!-- End Logo -->
            <!-- -------------------------------------------------------------- -->
            <!-- -------------------------------------------------------------- -->
            <!-- Toggle which is visible on mobile only -->
            <!-- -------------------------------------------------------------- -->
            
          </div>
          <!-- -------------------------------------------------------------- -->
          <!-- End Logo -->
          <!-- -------------------------------------------------------------- -->
          <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <!-- -------------------------------------------------------------- -->
            <!-- toggle and nav items -->
            <!-- -------------------------------------------------------------- -->
            <ul class="navbar-nav me-auto">
              <li class="nav-item d-none d-md-block">
                <a
                  class="nav-link sidebartoggler waves-effect waves-light"
                  href="javascript:void(0)"
                  data-sidebartype="mini-sidebar"
                  ><i data-feather="menu" class="feather-sm"></i
                ></a>
              </li>
             
              
              
            </ul>
            <!-- -------------------------------------------------------------- -->
            <!-- Right side toggle and nav items -->
            <!-- -------------------------------------------------------------- -->
           
          </div>
        </nav>
      </header>
      <!-- -------------------------------------------------------------- -->
      <!-- End Topbar header -->
      <!-- -------------------------------------------------------------- -->
      <!-- -------------------------------------------------------------- -->
      <!-- Left Sidebar - style you can find in sidebar.scss  -->
      <!-- -------------------------------------------------------------- -->
      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <!-- User Profile-->
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li>
                                <!-- User Profile-->
                            <div class="user-profile d-flex no-block dropdown mt-3">
                                    <div class="user-pic">
                                        <img src="~/images/users/1.jpg"
                                         alt="users"
                                         class="rounded-circle"
                                         width="40" />
                                    </div>
                                    <div class="user-content hide-menu ms-2">
                                        <a href="#"
                                       class=""
                                       id="Userdd"
                                       role="button"
                                       data-bs-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                            <h5 class="mb-0 user-name font-medium">
                                                @User.Identity?.Name
                                                
                                            </h5>
                                            <span class="op-5 user-role">@User.FindFirstValue(ClaimTypes.Role)</span>
                                        </a>

                                    </div>
                                </div>
                                <!-- End User Profile-->
                        </li>
                            <li class="p-3 mt-2">

                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="btn d-block w-100 create-btn text-white no-block d-flex align-items-center">
                                        <i class="fa fa-power-off feather-sm"></i>
                                        <span class="hide-menu ms-1">Logout</span>
                                    </button>
                                </form>

                            </li>

                        }
                        else
                        {
                            <li class="p-3 mt-2">

                                
                                     <a class="btn d-block w-100 create-btn text-white no-block d-flex align-items-center" asp-area="Identity" asp-page="/Account/Register"> <i class="fas fa-portrait feather-sm"></i><span class="hide-menu ms-1">Register</span></a>
                                    
                               

                            </li>

                              <li class="p-3 mt-2">

                                 <a class="btn d-block w-100 create-btn text-white no-block d-flex align-items-center" asp-area="Identity" asp-page="/Account/Login"> <i class="fas fa-user feather-sm"></i><span class="hide-menu ms-1">Login</span></a>

                            </li>

                        }
                       
              <!-- User Profile-->

                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="" asp-controller="Home" asp-action="Index" aria-expanded="false">
                                <i data-feather="home" class="feather-icon"></i>
                                <span class="hide-menu"> Home </span>
                            </a>
                        </li>
                        @if (User.IsInRole(Roles.User))
                        {
                                 
                            <li class="sidebar-item">
                                <a asp-area="" asp-controller="LeaveRequests" asp-action="MyLeave" class="sidebar-link">
                                    <i class="fa-solid fa-people-line"></i>
                                    <span class="hide-menu"> My Leave </span>
                                </a>
                            </li>
                           <li class="sidebar-item">
                                <a asp-area="" asp-controller="LeaveRequests" asp-action="Create" class="sidebar-link">
                                    <i class="fa-solid fa-people-line"></i>
                                    <span class="hide-menu"> Apply For Leave </span>
                                </a>
                            </li>
                        }
                       

                        @if (User.IsInRole(Roles.Administrator))
                        {
                             <li class="sidebar-item">
                                <a asp-controller="Employees" asp-action="Index" class="sidebar-link">
                                    <i class="fa-solid fa-people-line"></i>
                                    <span class="hide-menu"> Employees </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-controller="LeaveTypes" asp-action="Index" class="sidebar-link">
                                    <i class="fas fa-book"></i>
                                    <span class="hide-menu"> Leave Types </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-controller="LeaveRequests" asp-action="Index" class="sidebar-link">
                                    <i class="fas fa-tasks"></i>
                                    <span class="hide-menu"> Leave Requests </span></a>
                            </li>
                        }
                
                
              
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!-- -------------------------------------------------------------- -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- -------------------------------------------------------------- -->
      <!-- -------------------------------------------------------------- -->
      <!-- Page wrapper  -->
      <!-- -------------------------------------------------------------- -->
      <div class="page-wrapper">
          <div class="container-fluid">
              <div class="row">
                   @RenderBody()
              </div>
          </div>
         
      </div>
      <!-- -------------------------------------------------------------- -->
      <!-- End Page wrapper  -->
      <!-- -------------------------------------------------------------- -->
    </div>
    <!-- -------------------------------------------------------------- -->
    <!-- End Wrapper -->
    <!-- -------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------- -->
    <!-- customizer Panel -->
    <!-- -------------------------------------------------------------- -->
    
    <div class="chat-windows"></div>
    <!-- -------------------------------------------------------------- -->
    <!-- Required Js files -->
    <!-- -------------------------------------------------------------- -->
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
     <script src="~/lib/sweetalert/sweetalert.min.js"></script>
     
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"> </script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"> </script>
     <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    
     
    
    @await RenderSectionAsync("Scripts", required: false)
   
    <!-- Bootstrap tether Core JavaScript -->
    
    <!-- Theme Required Js -->
    <script src="~/js/app.min.js"></script>
    <script src="~/js/app.init.js"></script>
    <script src="~/js/app-style-switcher.js"></script>
    <!-- perfect scrollbar JavaScript -->
    <script src="~/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/js/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/js/feather.min.js"></script>
    <script src="~/js/custom.min.js"></script>
    <!-- --------------------------------------------------------------- -->
    <!-- This page JavaScript -->
    <!-- --------------------------------------------------------------- -->
    
    @*<script src="~/js/dashboard1.js"></script>*@

    <script>
      $(function(){
         $('.table').DataTable();
         $(".datepicker" ).datepicker({
             dateFormat:"yy-mm-dd"
         });
      });
     </script>
    <script src="~/js/site.js" asp-append-version="true"></script>


  </body>
</html>
